* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.body{
	margin: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    background:#efefef;
}
body {
    margin: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}
.capitalize{
    text-transform: capitalize;
}

/* Container */

.container {
    margin: auto;
    width: 90%;
    max-width: 960px;
    padding: .5em .2em;
}

.container-body {
    background:#ffffff;
    border-radius:.7em;
    padding:.5em 1em;
    width: 100%;  
    margin-bottom: .5em;
}


.container-header {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .6em;
    width: 100%;
    margin-bottom:.5em;
}
.container-img-header {
    min-height: 20vh;
    border-radius:1em;
}
.container-img-header * {
	border-radius:1em;
}
.img-header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-img-logo{
    height: 20vh;
    /* border: .25rem solid #0082e6; */
    border-radius: 1em;
}

.text-header{
    z-index: 1;
    font-size:3rem;
    color: white;
    background:none;
    border: none;
    padding:.2em;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #143774;
    z-index: 1;
    opacity: .8;
}

.login-container {
    
    padding: 0;
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.login-container .login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.auth-img{
    object-position: -7rem;
}

img {
    max-width: 100%;
}

.img{
    position: sticky;
    top:0;
    width: 40%;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    
}
.form p {
    text-align: center;
}

h1 span {
    color: #b7832f
}

h2{
    font-size: 1.5rem;
}

p{
    margin-top: 0;
}

.columns {
    display: flex;
    justify-content: space-between;
}
.form-cont{
    display: flex;
    width: 60%;
    justify-content: center;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 45%;
}

.col-3{
    width: 70%;
}

.col-bg{
    background: #212614;
    color: white;
    padding: 1em;
}

.form{
    position: relative;
    width: 80%;
    padding: 1em 2em;
    max-width: 600px;
    text-align: center;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.form p , h5{
    color: #707070;
    font-weight: 400;
    margin-bottom: 2em;
}

.form label{
    width: 100%;
    margin: 1.5em auto;
    font-size: .9rem;
}

.form h1{
    margin-top: .5em;
}
label span{
    font-size: .9rem;
    font-weight: 500;
    color: #707070;
    font-family: 'Nunito', sans-serif;
}
.radio-group {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.margin{
    margin: 1em 0;
}

.radio{
    margin: 0 1em;
    display: flex;
}
.radio input{
    width: 1rem;
    margin-right: .5em;
}
.login-input, .login-medecin-input, .login-user-input,select{
    border: none;
    outline: none;
    background: none;
}
.login-input, .login-medecin-input, .login-user-input,select {
    width: 100%;
    margin-top: .2em;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: .7em;
    border: .5px solid #d1caca;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}




.forgot-pass, .link {
    cursor: pointer;
    margin-top: .9em;
    font-size: .9rem;
    font-weight: 600;
}

.link {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 700;
}

.forgot-pass:hover,.link:hover {
color: #0082e6;
text-decoration: underline;
}

.form-user{
    display: block;
}

.form-doc{
    display: none;
}


@media(max-width: 900px ), (orientation: portrait) {
    html{
        font-size: .9rem;
    }
    .img{
        position: relative;
    }
    .columns{
        flex-direction: column;
        align-items: center;
    }
    .col {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .login-container .login-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: left;
    
    }
    .img{
        width: 100%;
        height: 30vh;
        min-height: 30vh;
    }
    
    .form-cont{
        width: 100%;
        
    }

    h1{
        font-size: 4.5vw;
    }    
}
.ham-logo{
    display: flex;
    justify-content: flex-start;
}

/* NAVIGATION BAR*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #f8f8f8;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 8px 6px -6px #707070; ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px #707070;   /* Firefox 3.5 - 3.6 */
    box-shadow: 0 8px 6px -6px #707070;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/* #navPatient,#navMed{
    position: sticky;
    z-index: 2;
    top: 0;
} */

.logo{
    margin: 0 1em;
    height: 4em;
}
.nav-index{
    padding: 0 1em;
}

.consulter *{
	color: #143774;
	font-weight: 700;
	font-size: 1rem;
	  padding:.3em;
text-decoration:none;
border: none;
background: none;
}
.consulter *:hover{
	color: #0082e6;
text-decoration:none;
}


nav ul li {
    display: inline-block;
    height: 100%;
    font-weight: 700;
    color: #143774;
    font-size: 1rem;
}
.navigation-bar h1{
	line-height: 3rem;
	margin-left:.5em;
}
.nav-items{
	margin-top:1em;
}

.checkbtn {
    font-size: 1.5rem;
    color:#143774;
    float: right;
    line-height: 3rem;
    margin-right: .5em;
    cursor: pointer;
    display: none;
}



.param ul{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}
.par li {
    background-color: #efefef;
    border-radius: 10px;
}
.par i:hover{
    color: #0082e6;
}
.par li:hover{
cursor: pointer;
background-color: #d3d1d1;
}

.param a{
    padding:1em;
}

nav li:hover{
    background-color: #efefef;
    border-radius: 1rem;
}


.param i  {
    font-size: 1.1rem;
}

.par,.last-par{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 .3em;
    border-radius: .5em;
}
.notif {
    position: absolute;
    margin-top:.4em;
    margin-right: .4em;
    padding: .1em .3em;
    top: 0;
    right: 0;
    background-color: rgb(221, 80, 80);
    color: #fff;
    border-radius: 30%;
    font-size: .7rem;
}
.desc{
    z-index: 2;
    font-size: .8rem;
    position: absolute;
    top: 3.5em;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: .5em 1em;
    color: white;
    border-radius: 5px;
    display:none;
}
.desc-dec{
    right:20%;
}
nav .desc{
    top:5.5em
}


#li-alert:hover  ~ #alert{
    display: block;
}
#li-dec:hover  ~ #dec{
    display: block;
}
#li-notif:hover  ~ #notif{
    display: block;
}
#li-profil:hover  ~ #profil{
    display: block;
}


#check{
    display: none;
}
#navMedecin,#navPatient,#h1Medecin,#h1Patient {
    display: none;
}
.notif-div{
    position: absolute;
    background-color: white;
    width: fit-content;
    min-width:300px;
    width: fit-content;
    max-height: 60vh;
    top: 4em;
    right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    display: none;
    -webkit-box-shadow: 0 8px 6px -6px #707070; ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px #707070;   /* Firefox 3.5 - 3.6 */
    box-shadow: 8px 8px 6px -6px #707070;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.notif-text {
    color: black;
}
.notif-text span{
    color: #143774;
    font-weight: 700;
    text-transform: uppercase;
}
.notif-none{
    color: #143774;
    text-align: center;
    padding: .5em;
    font-size: .8em;
}
.param{
	margin-top: 1em;
}

.notif-div a{
    padding: 0;
    margin: 0;
    font-size: .8em;
}
.notif-div::-webkit-scrollbar {
    display: none;
}
.notif-line,.notif-line-col{
    display: flex;
    align-items: center;
    min-height: 5em;
}
.notif-line-col{
    justify-content: space-between;
}
.notif-line{
    padding:.3em .5em;
    justify-content: flex-start;
}
.notif-line li{
    border:1px solid;
}
.notif-div ul{    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.notif-div li{    
    padding: 0 1em;
    font-size: .8em;
    font-weight: 500;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background:white ;
    line-height: 2;
}

.notif-div li:hover{
    border-radius: 0;
    background-color: #efefef;
}
.nav-items li {
    padding: .5em;
    margin-right:1em
}

.notif-img{
   margin-right: 2em;
}
.success {
    color: green;
}
.echec {
    color: red;
}


@media(max-width: 960px) {
	.param{
		margin:0;
		line-height:3em;
	}
    .navigation-bar{
        padding: 0 1em;
        height: 4rem;
    }
    .checkbtn {
        display: block;
        font-size: 3vw;        
    }
    .nav-items .active {
        border-bottom: none;
        border-radius: px;
        background-color: #143774;
    }
    .logo{
        margin: 0;
    }
    nav li:hover{
        background-color: #efefef;
    }
    .param ul{
        margin: 0;
    }
    .nav-items li {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }
    .navigation-bar .nav-items,.nav-overlay{
        z-index: 8;
        position: absolute;
        width: 60%;
        background: #fff;
        left:-100%;
        top:3rem;
        text-align: center;
        transition: all .5s;
        max-height: 85vh;
        overflow-y: auto;
        -webkit-box-shadow: 0 8px 6px -6px #707070; ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 0 8px 6px -6px #707070;   /* Firefox 3.5 - 3.6 */
        box-shadow: 8px 8px 6px -6px #707070;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    .navigation-bar .nav-items::-webkit-scrollbar{
        width: 0 
    }
    .element { 
        overflow: -moz-scrollbars-none; 
    }
    nav .nav-items li a {
        padding-right: 0em;
    }
  .nav-items li {
    padding: .8em 0;
    margin-right:0
}
   
    .nav-overlay{
        position: absolute;
        min-height: 100vh;
        width: 100vw;
        background:#143774;
        opacity: .7;
    }
    
    .navigation-bar .nav-items li {
        display: block;
    }
    .nav-items li a {
        font-size: .9rem;
        color: #143774;
    }
    .nav-items .active a {
        font-size: .9rem;
        color: #fff;
    }
      
   
    .checkbtn:hover {
        color: #0082e6;
        
    }
    #check:checked  ~ .nav-items {
        left: 0
    }

    .notif-div{
        min-width: auto;
        width: 100%;
        position: fixed;
    }

}



@media(max-width: 400px) {
    html{
        font-size: 3.2vw;
    }
}

/* VIDEO */

.v-header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    padding-top: .5em;
}


.fs-video{
    position:absolute;
    left : 0;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.fs-video video {
 width: 100%;
 height: 100%;
 object-fit: cover;    
}

.header-overlay {
    height: 90vh;
    width: 100vw;
    position:absolute;
    left: 0;
   
    background: #143774;
    z-index: 1;
    opacity: .6;
}
 
.header-content {
    z-index: 2;
}

.header-content h1{
    padding: 0;
    font-size: 3.5rem;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5 rem;
    display:  block;
    padding-bottom: 2em;
}


@media(max-width: 960px) {
    .header-content h1{
        padding: 0 .5em;
        font-size: 2rem;
        margin-bottom: 0;
    }
    #button{
        font-size: 1rem;
    }
}

/* BUTTON */

.btn {
    font-family: 'Nunito', sans-serif;
    background: #0082e6;
    color: white;
    font-size: 1rem;
    padding: .7em 1.5em;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: .2em;
}
.btn-icon{
    background: #0082e6;
    color: white;
    padding: .5em .8em;
    border-radius: .5rem;
}

.btn-round{
    border-radius: 2em;
}
.submit {
    display: block;
    margin: auto;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
    width: 60%;
    max-width: 250px;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left,#0082e6,#85dcd5);
}

.submit:hover{
    background: -webkit-linear-gradient(right,#0082e6,#85dcd5);
}

.btn-small{
    font-size: .7rem;
}
.btn-big {
    font-size: 1.3rem;
}
.btn-echec {
    background: #d87474;
}
.btn-success {
    background: #34b3a0;
}
button{
    border: none;
}
.buttons-inline{
    display: flex;
    margin: .5em;
    justify-content: center;
    align-items: center;
}
.buttons-inline * {
    margin: 0 1em;
    min-height: 100%;
}
.buttons-inline *:first-child {
    margin-left: 0;
}
.buttons-inline *:last-child {
    margin-right: 0;
}
.min-width{
    min-width: 200px;
}
/* SECTION */

.section {
    padding: 1em;
    text-align: center;
}

.section-b {
    background: #333;
    color: #fff;
}
.widget {
    height: 40vh;
    width: 30vw;
    object-fit: cover;
}
.section-img{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 1em;
}

@media(max-width: 900px ) {
    .widget {
        height: 20vh;
        width: 70vh;
        object-fit: cover;
    }
    .laptop{
        object-position: bottom;
    }
    .smartphone{
        object-position: top;
    }
    .buttons-inline * {
        font-size: .9em;
    }
}



/* TABLE */
.table-flex{
    display: flex;
    justify-content: flex-start;
}
.table-flex * {
    width: min-content;
}
.table-div{
    overflow-x: scroll;
}
.table-div::-webkit-scrollbar {
    display: none;
}
.table{
    width: 100%;
    border-collapse: collapse;
    text-align:center;
}

.table td, .table th{
    padding: .8em 1em;
    font-size: 1rem;
    width: fit-content;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow:ellipsis;
}

.table th{
    background: #414b5c;
    color: white;
}


.table tbody tr:nth-child(odd){
    background-color:#efefef ;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}
.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: #143774
}
#patient{
    white-space: nowrap;
}
.table input{
    background: none;
    border:none;
    padding: .3em;
    text-align: center;
    font-size: 1rem;
    max-width: 8vw;
}
.table .radio-group{
    padding: .3em 0;
}
.table-maladies{
    margin: 0;
    padding: 0;
    width: min-content;
}
#patient a{
    background: none;
    color: black;
}

/* FILTER */
.filter-bar,.filter-select-div,.filter-input-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3em;
}
.filter-select-div{
    padding: .9em;
    justify-content: center;
}
.filter-select-div * {
    min-width: fit-content;
}
.filter-select-one{
    display: flex;
    align-items: center;
    padding: .4em 1em;
}
.filter-select-one * {
    min-width: fit-content;
}
.filter-select-mini{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-input-div {
    padding:.3em 1em;
    background: rgb(127, 152, 170);
    justify-content: center;
    border-radius: 20px;
}
.filter-bar{
    justify-content: space-between;
    border-top: rgba(109,93,93,.4);
    margin-bottom: 16px;
    -webkit-box-shadow: 0 8px 6px -6px #707070; ;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px #707070;   /* Firefox 3.5 - 3.6 */
    box-shadow: 0 8px 6px -6px #707070;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.fit-width{
    max-width: fit-content;
    float: right;
    justify-content: flex-end;
}
.search-icon{
    color: white;
    margin-right: 1em;
}
.filter-icon{
    color: rgb(127, 152, 170);
    margin-right: 1em;
}
.filter-input{
    padding: .4em .2em;
    font-size: 1rem;
}
.filter-input[type="text"] {
    width: fit-content;
    max-width: 20vh;
}
#dateValueMin, #dateValueMax {
    min-width: 20vw;
}
.filter-bar span{
    color: black;
    margin-right: .5em ;
}
.filter-select,.filter-select option,.filter-input,select{
    color: #707070;
    margin-right: 1em;
    font-family: 'Nunito', sans-serif;
    padding: .4em .2em;
    font-weight: 400;
    border: .5px solid #d1caca
}
.filter-check{
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding:.9em;
}



.filter-check label{
    font-size: 1.7em;
    padding: 0;
    margin: 0 .5em;
}

.filter-check label input{
    display: none;
}
.check-icon{
    width: 1em;
    height: 1em;
    color:white;
}
.check-icon:hover{
    cursor: pointer;
}
select{
    font-weight: 500;
}
.filter-select{
    margin-bottom: 0;
}
i:hover{
    cursor: pointer;
}
@media(max-width: 500px) and (min-height:400px){
    .filter-select-div{
        justify-content: space-between;
    }
    .filter-select-mini{
        flex-direction: column;
    }
    .filter-select-mini * {
        margin-left: 0;
        margin-right: 0;
    }
    #dateValueMin, #dateValueMax {
        min-width: auto;
    }
    i{
        font-size: 3vw;
    }
    .fit-width{
        min-width: 90vw;
        justify-content: center;
    }
}


@media(max-width: 700px){

    .table .btn{
        font-size: 1em;
    }

    .table, .table tbody, .table tr,.table td{
        /* display: block;
        width: 100%; */
        font-size:2.5vw;      
    }
    /* .table tr{
        margin-bottom:1.5em;
    }
    .table-5 th{
        width: 20vw;
        font-size: 2vw;
    }
    .table-3 th{
        width: 33vw;
    }
    .table-4 th{
        width: 25vw;
    }
    .table-6 th{
        width: 16vw;
        font-size: 2vw;
    }
    .table-7 th{
        width: 14vw;
        font-size: 2vw;
    }
    .table-no-header th{
        display: none;
    }
    .table input{
        font-size:2.5vw;  
    }
    .table td{
        border: 1px solid #c4d4f0;
        text-align: center;
        padding-left: 40%;
        position: relative;
        min-height: 3.5em;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        color: white;
        background: rgb(142, 159, 168);
        top: 0;
        width: 30%;
        bottom: 0;
        padding-left:1em;
        font-weight: bold;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .table .no-display{
        display: none;
    } */
}
/* PROFIL */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    width: 1rem;
    height: 1rem;
    border-width: thin;
    }
.container-profil{
    padding: 0 2em;
}
.profil label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profil label span{
    padding-right: 1em;
    width: 30%;
    font-size: .8rem;
}
.profil label input {
    text-align: left;
    font-size: .9rem;
}


.profil input {
    text-align: center;
}

.profil span {
    color: #707070;
    font-size: 1rem;
    font-weight: 700;
}
.edit-profil-div{
    display: none;
}
.div-maladies{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.div-maladies span {
    background-color: red;
}



/* HOME */
.container-home{
    padding: .5em 1em;
}
.container-add input{
    text-align: center;
    margin-bottom: 2em;
}

.alert-header{
    background: rgba(175, 8, 8, 0.6);
    color: white;
}
.add-header{
    background: rgba(37, 45, 54, 0.856);
    color: white;
}
.date-header{
    font-size: 1.2rem;
}
.add-info{
    font-size: 1.2em;
    font-weight: 600;
}
.alert-para{
    font-size: 1.1rem;
    margin-bottom: 1em;
}

@media(max-width: 900px), (orientation:portrait){
    .container-add{
        order:2;
    }
    .container-alert{
        order:1;
    }
    .add-info{
        font-size: 1rem;
    }
}

/* Modal */
.bg-modal{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0,0,.7);
    position : absolute;
    top: 0;
    left: 0;
    z-index: 11;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content{
    position: fixed;
    top: 15%;
    width:40%;
    background-color:white;
    text-align: center;
    padding: 1.5em;
    overflow-y: auto;
}

.close{
    position: absolute;
    top:.3em;
    color: black;
    right: 1em;
    font-size: 3rem;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 2;
    padding: 0;
}
#oldPatients{
    display: none;
}
.cadre{
    border: 2px solid #dad0d0;
    padding: .5em 3em;
}
/* FOOTER */
.footer{
    width: 100%;
    padding: 2em 5em;
    text-align: center;
    background: rgba(109,93,93,.4);
    color: #707070;
}
/* SMARTWATCH */
@media (max-device-width: 400px)
and (max-device-height: 400px){
    html{
        font-size: 2.2vw;
    }  
}

.no-margin{
    margin: 0;
}
/*CHART*/
.border{
    border: 3px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:scroll;
}

.border select{
width: fit-content;
margin-top: 1em;
font-family: Arial, Helvetica, sans-serif;
font-size: .8rem;
}
.chart-select {
    position: relative;
    display: flex;
    padding: .3em .5em;
    min-height: fit-content;
    justify-content: flex-end;
    align-items: flex-start;
    overflow-x: scroll;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: .8rem;
}
.chart-select::-webkit-scrollbar {
    display: none;
}
#charSelect{
width: fit-content;
}

.no-display{
    display: none;
}



@media(max-width: 900px ), (orientation: portrait) {
    .chart-select {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
 
    #canvas, #canvasMonth{
        order:2;
    }  
}
.msgError{
    width: 100%;
    text-align: center;
}
.container-body h1{
	margin-bottom: 1em;
	font-size:2rem;
	color: #143774;
}
.msgError p {
    color: white;
    padding: 2em 0;

}
.stat .container-body h1{
	color: #143774;
	font-size: 1.5rem;
	margin-bottom:.7em;
}
.start{
	justify-content: flex-start;
}
.buttons-inline label {
	width: 20%;
}
.active {
    background: #143774;
    border-radius: 8px;
    
    }
.active * {
    color:white;
    }
    
 .errorMsg *{
 	color:white;
 	padding: 1em;
 }

